<a href="https://colab.research.google.com/github/nachopodesta/percipio/blob/main/Analyzing_Data_Using_Python_Data_Analytics_Using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Analyzing Data Using Python: Data Analytics Using Pandas

https://accenture.percipio.com/courses/20e96ebd-b21f-461e-9154-b1ef0c2715ac/videos/4317c51d-a02b-4ef7-8925-4cbbfd1aa499

In [2]:
import pandas as pd
import sys

import numpy as np

In [3]:
print("Python Version: " + sys.version)

Python Version: 3.7.15 (default, Oct 12 2022, 19:14:55)
[GCC 7.5.0]

In [4]:
print("Pandas Version: " + pd.__version__)

Pandas Version: 1.3.5

In [5]:
random_series = pd.Series(np.random.randn(50)) #normal distribution

In [6]:
random_series.head()

0    0.395324
1    0.659830
2    0.789166
3    1.222861
4   -0.523326
dtype: float64

### Performin Basic Series Operations

In [7]:
random_series.tail()

45    0.966005
46    0.285194
47    0.010230
48   -1.254187
49   -0.864025
dtype: float64

In [8]:
random_series.sample(5) #5 random values

43    0.206043
37   -1.166776
46    0.285194
4    -0.523326
29    0.499035
dtype: float64

In [9]:
employees_list = ['Bruce','Tony','Steve','Chris','Ruth', 'Paula']

employees_series = pd.Series(employees_list)

In [10]:
employees_series

0    Bruce
1     Tony
2    Steve
3    Chris
4     Ruth
5    Paula
dtype: object

In [11]:
empl_id = pd.Series(np.random.randint(0,100, size=len(employees_series)))

In [12]:
empl_id

0    98
1    79
2    62
3    44
4     2
5    99
dtype: int64

In [13]:
employees_series.index = empl_id

In [14]:
employees_series

98    Bruce
79     Tony
62    Steve
44    Chris
2      Ruth
99    Paula
dtype: object

In [15]:
employees_series.index.name = "empl_id"
employees_series

empl_id
98    Bruce
79     Tony
62    Steve
44    Chris
2      Ruth
99    Paula
dtype: object

In [16]:
employees_series.dtype

dtype('O')

### Performing Casting Operations Using Series

In [17]:
emp_data = {'Ronald':22,
            'Russel':25,
            'Lila':20,
            'Anthony':23,
            'Wendy':23}

In [18]:
emp_data_series = pd.Series(emp_data)
emp_data_series

Ronald     22
Russel     25
Lila       20
Anthony    23
Wendy      23
dtype: int64

In [19]:
emp_data_series.name = 'name_age_info'
emp_data_series

Ronald     22
Russel     25
Lila       20
Anthony    23
Wendy      23
Name: name_age_info, dtype: int64

In [20]:
series_A = pd.Series([100,200,300,400,500])
series_B = pd.Series([200,300,500.6,700.3,900.8])

In [21]:
series_A

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [22]:
series_B

0    200.0
1    300.0
2    500.6
3    700.3
4    900.8
dtype: float64

In [23]:
series_A.empty #check if serie is empty

False

In [24]:
series_A_array = series_A.to_numpy()

In [25]:
series_A_array

array([100, 200, 300, 400, 500])

In [26]:
series_A_array = series_A.values

In [27]:
series_A_array

array([100, 200, 300, 400, 500])

In [28]:
series_A.dtype

dtype('int64')

In [29]:
series_A_float = series_A.astype('float64')
series_A_float

0    100.0
1    200.0
2    300.0
3    400.0
4    500.0
dtype: float64

In [30]:
series_A_float.dtype

dtype('float64')

In [31]:
series_B.round()

0    200.0
1    300.0
2    501.0
3    700.0
4    901.0
dtype: float64

In [32]:
series_B.round().dtype

dtype('float64')

### Performing Logical Operation Using Series

In [33]:
series_B.lt(400) #less than

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [34]:
series_B.gt(300) #greatter than

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [35]:
series_B.isin(series_A)

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [36]:
series_A.agg('min')

100

In [37]:
series_A.agg('average')

300.0

In [38]:
series_A.agg(['min','max'])

min    100
max    500
dtype: int64

In [39]:
append_series = series_A.append(series_B, ignore_index=True)

In [40]:
append_series

0    100.0
1    200.0
2    300.0
3    400.0
4    500.0
5    200.0
6    300.0
7    500.6
8    700.3
9    900.8
dtype: float64

In [41]:
#append_series = series_A.append(series_B, ignore_index=True, verify_integrity=False)

In [42]:
append_series.drop(labels=[0,9])

1    200.0
2    300.0
3    400.0
4    500.0
5    200.0
6    300.0
7    500.6
8    700.3
dtype: float64

In [43]:
append_series.count()

10

In [44]:
empty_df = pd.DataFrame()
empty_df

Empty DataFrame
Columns: []
Index: []

### Creating and Editing Pandas DataFrames

In [45]:
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [46]:
employees = ['Peter','Adam','Douglas','Henry','Jose','Aaron']

In [47]:
employees_df = pd.DataFrame({'name':employees})

In [48]:
employees_df

      name
0    Peter
1     Adam
2  Douglas
3    Henry
4     Jose
5    Aaron

In [49]:
employees_series

empl_id
98    Bruce
79     Tony
62    Steve
44    Chris
2      Ruth
99    Paula
dtype: object

In [50]:
employees_df = employees_series.to_frame('emp_name')
employees_df

        emp_name
empl_id
98         Bruce
79          Tony
62         Steve
44         Chris
2           Ruth
99         Paula

In [51]:
employees_df = employees_series.to_frame('emp_name').reset_index()

In [52]:
employees_df

   empl_id emp_name
0       98    Bruce
1       79     Tony
2       62    Steve
3       44    Chris
4        2     Ruth
5       99    Paula

In [53]:
location_data = {
                'Name':['Alice','Patty','Paula','Lily','Ryan','Larry'],
                'City':['Phoenix','Houston','Chicago','Los Angeles','New York','San Diego'],
                'State':['Arizona','Texas','Illinois','California','New York','California']
}

In [54]:
df_location = pd.DataFrame(location_data, index=[10,20,30,40,50,60])
df_location

     Name         City       State
10  Alice      Phoenix     Arizona
20  Patty      Houston       Texas
30  Paula      Chicago    Illinois
40   Lily  Los Angeles  California
50   Ryan     New York    New York
60  Larry    San Diego  California

In [55]:
df_location.index

Int64Index([10, 20, 30, 40, 50, 60], dtype='int64')

In [56]:
df_location.columns

Index(['Name', 'City', 'State'], dtype='object')

### Performing Data Lookup Using DataFrames

In [57]:
df_location.size

18

In [58]:
df_location.shape

(6, 3)

In [59]:
df_location['Name'][30]

'Paula'

In [60]:
df_location['City'][30]

'Chicago'

In [61]:
df_location[['Name','State']]

     Name       State
10  Alice     Arizona
20  Patty       Texas
30  Paula    Illinois
40   Lily  California
50   Ryan    New York
60  Larry  California

In [62]:
df_location.loc[10]

Name       Alice
City     Phoenix
State    Arizona
Name: 10, dtype: object

In [63]:
df_location.loc[[20,50]]

     Name      City     State
20  Patty   Houston     Texas
50   Ryan  New York  New York

In [64]:
df_location.iloc[1]

Name       Patty
City     Houston
State      Texas
Name: 20, dtype: object

In [65]:
df_location.iloc[[3,4]]

    Name         City       State
40  Lily  Los Angeles  California
50  Ryan     New York    New York

### Constructin DataFrames from Dictionaries and Tuples

In [66]:
emp_info = [{'ID':1, 'Name':'Cathy','City':'Austin'},
            {'ID':2, 'Name':'Simon','City':'San Jose'},
            {'ID':3,'Name':'Ian','City':'Chicago'}]

In [67]:
df = pd.DataFrame(emp_info)

In [68]:
df

   ID   Name      City
0   1  Cathy    Austin
1   2  Simon  San Jose
2   3    Ian   Chicago

In [69]:
emp_info

[{'ID': 1, 'Name': 'Cathy', 'City': 'Austin'},
 {'ID': 2, 'Name': 'Simon', 'City': 'San Jose'},
 {'ID': 3, 'Name': 'Ian', 'City': 'Chicago'}]

In [70]:
df = pd.DataFrame(emp_info, index=['a','b','c'])
df

   ID   Name      City
a   1  Cathy    Austin
b   2  Simon  San Jose
c   3    Ian   Chicago

In [71]:
df_one = pd.DataFrame(emp_info,index=['a','b','c'], columns=['ID','Name','City'])
df_one

   ID   Name      City
a   1  Cathy    Austin
b   2  Simon  San Jose
c   3    Ian   Chicago

In [72]:
df_two = pd.DataFrame(emp_info,index=['a','b','c'], columns=['ID','Name','State'])
df_two

   ID   Name  State
a   1  Cathy    NaN
b   2  Simon    NaN
c   3    Ian    NaN

In [73]:
emp_name = ['Barbara','Frank','Bhadrak','Gregory','Nikki']
state = ['California','Illinois','Texas','Arizona','Pennsylvania']

In [74]:
data = list(zip(emp_name,state))
data

[('Barbara', 'California'),
 ('Frank', 'Illinois'),
 ('Bhadrak', 'Texas'),
 ('Gregory', 'Arizona'),
 ('Nikki', 'Pennsylvania')]

In [75]:
df = pd.DataFrame(data, columns=['EmpName','State'])
df

   EmpName         State
0  Barbara    California
1    Frank      Illinois
2  Bhadrak         Texas
3  Gregory       Arizona
4    Nikki  Pennsylvania

In [76]:
employee_details = {'Name':pd.Series(['Becky','Lily','Laura','Roy'],
                                     index=[1,2,3,4]),
                    'City':pd.Series(['San Francisco','Indianapolis','Seattle','Denver'],
                                     index=[1,2,3,4])}

In [79]:
df = pd.DataFrame(employee_details)
df

    Name           City
1  Becky  San Francisco
2   Lily   Indianapolis
3  Laura        Seattle
4    Roy         Denver

In [80]:
employee_details = {'Name':pd.Series(['Molly','Joseph','Daniel','NickRoy'],
                                     index=[1,2,3,4]),
                    'City':pd.Series(['San Francisco','Indianapolis','Seattle','Denver'],
                                     index=[0,1,2,3])}

In [81]:
df = pd.DataFrame(employee_details)
df

      Name           City
0      NaN  San Francisco
1    Molly   Indianapolis
2   Joseph        Seattle
3   Daniel         Denver
4  NickRoy            NaN

### Course Summary